@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #187bcd;
  --color-white: #fff;
  --color-bg: #252525;
  --color-danger: #dc143c;

  --container-width-lg: 75%;
  --container-width-md: 90%;
  --container-width-sm: 95%;

  --transition: all 400ms ease;
}

body {
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3rem;
  align-items: center;
}

.btn-add {
  padding: 0.5rem 2rem;
  border: 2px solid transparent;
  border-radius: 0rem 1rem 1rem 0;
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition);
}

.btn-add:hover {
  border: 2px solid var(--color-primary);
  background: transparent;
}

.btn-del {
  padding: 0.5rem 2rem;
  border: 2px solid transparent;
  border-radius: 0rem 1rem 1rem 0;
  background: var(--color-danger);
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition);
}
.btn-del:hover {
  border: 2px solid var(--color-danger);
  background: transparent;
}

.add-new {
  display: flex;
  width: fit-content;
}

.add-new input {
  padding: 0.5rem 1rem;
  border-radius: 1rem 0 0 1rem;
}

.list-item {
  display: flex;
  margin-top: 1rem;
}

.list-item span {
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 1rem 0 0 1rem;
  cursor: pointer;
  user-select: none;
  width: 15rem;
}

.finished {
  text-decoration: line-through;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    margin: 0 auto;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    margin: 0 auto;
    padding-top: 2rem;
  }
}
